<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo contato</title>
</head>
<body>
    <form action="/salvar-ctt" method="post">
        <p>
            <input type="text" name="contato" placeholder="nome do contato">
        </p>
        <p>
            <input type="text" name="celular" placeholder="n° celular">
        </p>
        <p>
            
        <input type="text" name="telefone" placeholder="n° telefone">
        </p>
        <p>
            <input type="text" name="email" placeholder="email">
        </p>
        <p>
            <input type="text" name="cidade" placeholder="cidade">
        </p>
        <p>
            <input type="text" name="estado" placeholder="estado">
        </p>
        <p>
            <input type="text" name="notas" placeholder="notas">
        </p>
        <button>Adicionar</button>
    </form>
</body>
</html>