<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus contatos</title>
    <link rel="stylesheet" href="/css/contatos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="container-titulo">
            <h1>Meus Contatos</h1>
        </div>
        <div class="links">
            <div class="outras-funcionalidades">
                <a href="#">Bloco de notas</a> -
                <a href="#">Lista de tarefas</a>
            </div>
            <div class="perfil">
                <a href="#">Meu perfil</a>
            </div>
            <div class="voltar">
                <a href="/">Voltar</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="contatos">
            <div class="bloco-addcontato">
                    <div class="inputs">
                        <input type="text" class="form-control" placeholder="Nome">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="inputs">
                        <input type="text" class="form-control" placeholder="Celular">
                        <input type="text" class="form-control" placeholder="Telefone">
                    </div>
                    <div class="inputs">
                        <input type="text" class="form-control" placeholder="Estado">
                        <input type="text" class="form-control" placeholder="Cidade">
                    </div>
                    <div class="notas">
                        <textarea cols="30" rows="10" class="form-control" placeholder="Escreva uma breve descricao sobre o contato."></textarea>
                    </div>
                    <div class="eventos">
                        <button class="btn btn-primary">Salvar</button>
                    </div>
                </div>
                <div class="bloco-vercontatos">
                    <div class="informacoes-contatos">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Bruno Gomes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>    
</body>
</html>