<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="container-titulo">
            <h1>Agenda Pessoal</h1>
        </div>
        <div class="desenvolvedor">
            <span class="lead">Desenvolvido por &reg;BrugoAmorim, 2022</span>
        </div>
    </nav>
    <article>
        <div class="container">
            <div class="page-contatos">
                <div class="bloco-img">
                    <img src="/images/img-contatos.jpg" alt="imagem caderno de contatos" height="100%">
                </div>
                <div class="bloco-titulo">
                    <h3>Meus contatos:</h3>
                </div>
                <div class="descricao">
                    <span class="lead">Com está aplicação você pode gerenciar os números de telefone e email de seus familiares, colegas e afins. Fácil, rápido e intuitivo.</span>
                </div>
                <div class="entrar">
                    <div class="botao-entrar">
                        <a href="/agenda-contatos" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="page-bloco-notas">
                <div class="em-breve">
                    <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/08/02-32.png" height="20%">
                    <p>Em Breve!</p>
                </div>
            </div>
            <div class="page-lista-tarefas">
                <div class="em-breve">
                    <img src="https://www.imagensempng.com.br/wp-content/uploads/2021/08/02-32.png" height="20%">
                    <p>Em Breve!</p>
                </div>
            </div>
        </div>
    </article>
</body>
</html>