<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <div class="container-titulo">
            <h1>Agenda Pessoal</h1>
        </div>
        <div class="desenvolvedor">
            <span class="lead">Desenvolvido por &reg;BrugoAmorim, 2022</span>
        </div>
    </nav>
    <article>
        <div class="container">
            <div class="page-contatos">
                <div class="bloco-img">
                    <img src="/images/img-contatos.jpg" alt="imagem caderno de contatos" height="100%">
                </div>
                <div class="bloco-titulo">
                    <h3>Meus contatos:</h3>
                </div>
                <div class="descricao">
                    <span class="lead">Com está aplicação você pode gerenciar os números de telefone e email de seus familiares, colegas e afins. Fácil, rápido e intuitivo.</span>
                </div>
                <div class="entrar">
                    <div class="botao-entrar">
                        <a href="/agenda-contatos" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="page-bloco-notas">
                <div class="bloco-img">
                    <img src="/images/bloco-notas-img.png" alt="imagem caderno de anotacoes" height="80%">
                </div>
                <div class="bloco-titulo">
                    <h3>Minhas Anotações:</h3>
                </div>
                <div class="descricao">
                    <span class="lead">
                        Faça anotações, monte listas, escreva histórias e muito mais. Organize todos os textos que escreve de maneira rápida e organizada.
                    </span>
                </div>
                <div class="entrar">
                    <div class="botao-entrar">
                        <a href="/agenda-blocodenotas" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
            <div class="page-lista-tarefas">
                <div class="bloco-img" style="background-color: #55B6FA;">
                    <img src="/images/img-listadetarefas.jpg" alt="imagem caderno de anotacoes" height="100%">
                </div>
                <div class="bloco-titulo">
                    <h3>Lista de tarefas:</h3>
                </div>
                <div class="descricao">
                    <span class="lead">
                        Crie listas para organizar as suas tarefas. Neste sistema você pode criar categorias para diferentes tipos de metas.
                    </span>
                </div>
                <div class="entrar">
                    <div class="botao-entrar">
                        <a href="/agenda-listadetarefas" class="btn btn-primary">Entrar</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</body>
</html>