nav{
    width: 100%;
    height: 13%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-titulo{
    height: 70%;
    width: 40%;

    text-align: center;
    color: white;
}

.links{
    height: 70%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.outras-funcionalidades a, .voltar a, .perfil a{
    text-decoration: none;
}

.outras-funcionalidades{
    height: 45%;
    width: 35%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;

    color: white;
}

.voltar{
    height: 45%;
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container{
    height: 87%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
