body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 189, 67), rgb(129, 38, 129));
}

.container{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.minhas-categorias{
    height: 90%;
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #191919;
}

.bloco-add-categoria{
    height: 95%;
    width: 43%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.bloco-categorias{
    height: 95%;
    width: 55%;
    
    display: block;
    overflow-y: auto;

    border-left: 2px solid white;
}

.listagem-categorias{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.categoria{
    min-height: 50%;
    max-height: 50%;
    width: 95%;
    margin: 1%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;
    border-radius: 6px;
}

.titulo-categoria{
    height: auto;
    width: 95%;
}

.desc-categoria{
    height: 45%;
    width: 95%;
}

.desc-categoria textarea{ height: 100%; }

.eventos-categoria{
    height: 15%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-criar-categoria{
    height: 50%;
    width: 95%;
    margin: 1%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 8px;
    border: 1px solid silver;
    background-color: white;
}

.titulo{
    height: auto;
    width: 95%;

    display: flex;
    align-items: center;
}

.descricao{
    height: 50%;
    width: 95%;
}

.descricao textarea{
    height: 100%;
}

.criar{
    height: auto;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.message-error{
    min-height: 15%;
    height: 15%;
    width: auto;
    margin: 1%;
    padding: 2%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: white;
    border-radius: 8px;
    border: 2px solid red;
}

.desc-funcionalidade{
    height: 25%;
    width: 95%;

    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: dotted;
    justify-content: center;

    color: white;
}