body{
    height: 100vh;
    margin: 0px;
    padding: 0px;

    background-image: linear-gradient(rgb(24, 224, 174), rgb(89, 255, 67));
}

.bloco-editar{
    height: 90%;
    width: 75%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.informacoes-alertas{
    height: 95%;
    width: 35%;
    margin: 1%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.info-eventos{
    height: 75%;
    width: 95%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 8px;
    background-color: white;
}

.titulo-salvar{
    height: 30%;
    width: 95%;
    padding: 2%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.titulo-salvar button, .excluir button{ width: 50%; }

.criado-e-atualizado{
    height: 45%;
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 3%;
}

.excluir{
    height: 20%;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-top: 1px solid #191919;
}

.bloco-anotacao{
    height: 95%;
    width: 60%;
    margin: 1%;
}   

.bloco-anotacao textarea{ height: 100%; }

.alerta{
    height: 20%;
    width: 95%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    color: white;
    border-radius: 8px;
    background-color: #191919;
}